<div class="well">
	<% if user.cover.url %>
	  <div class="cover" style="image: url(<%= user.cover.url %>);"></div>
	<% else %>
	  <div class="cover" style="image: url(/assets/cover.png);"></div>
	<% end %>
</div>