<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      Cupcake ipsum dolor. Sit amet cheesecake marshmallow cake candy canes. Apple pie liquorice oat cake. Pastry bear claw cake gummi bears. Candy canes croissant chocolate chocolate gingerbread. Cotton candy sugar plum chupa chups. Chocolate bar chupa chups icing cookie cotton candy.



    </p>
    <br>
    <h3>Why?</h3>
    <p>
      Candy chupa chups apple pie. Jelly bonbon tootsie roll lemon drops fruitcake jelly lollipop soufflé pudding. Cheesecake chocolate bar macaroon muffin dessert tart tiramisu muffin toffee. Tart sweet cupcake jelly-o tootsie roll danish.
    </p>
    <br>
    <h3>How?</h3>
    <p>
      Marshmallow biscuit soufflé chocolate chupa chups chocolate toffee tootsie roll bear claw. Ice cream cotton candy pie soufflé muffin. Jelly halvah tart macaroon sugar plum sweet roll cheesecake donut jelly beans. Marshmallow macaroon tart bonbon marshmallow carrot cake.
    </p>
    <br>
  </div>
</div>