<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      All Pro Sports Highlights is a quality, professional mobile app for athletes to showcase their talents. 



    </p>
    <br>
    <h3>Why?</h3>
    <p>
      South Florida has a growing population of high school athletes who are very talented and are hungry for exposure. Unfortunately, many athletes who attend smaller, less popular schools are rarely sort out by recruiters because of lack of exposure.  Other the other hand, many college recruiters may not have the opportunity to see most talented athletes; hence, reducing the opportunity to sign the athlete with the most potential for success.
    </p>
    <br>
    <h3>How?</h3>
    <p>
      All Pro Sports Highlights is a service business creating customized, personalized mobile apps for athletes. The app will show highlights, stats and scores of athletes’ performances. It is an excellent marketing tool to show to college recruiters.
    </p>
    <br>
  </div>
</div>