$navbar-color: #214565;
$border-color: #e0e0e0;
$border-color-hi: #FCF011;
$liked-color: #2978A0;
$bg-color: #f0f0f0;
$light-text-color: #FCF011;
$default-font-size: 1.5rem;
$small-font-size: 1.25rem;
$black: rgba(0, 0, 0, .5);